
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #F4F4F4;
  color: #333;
  line-height: 1.6;
}

.banner {
  background-image: url("../assets/imagenes/imagen1.png") /*no-repeat center center*/;
  width: 100vw;
  height: 100vh;
  text-align: center;
  /*padding: auto;
  background-color: #F4F4F4;
  background-size: contain;
  justify-content:center;*/
}

button {
  background-color: #ffa75b;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 100px;
}

footer {
  background: #f47c20;
  color: white;
  padding: 40px 20px 20px;
  text-align: center;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer-columns div {
  min-width: 150px;
}

footer h4 {
  margin-bottom: 10px;
}

footer p {
  margin: 0;
}

footer .copyright {
  font-size: 0.9em;
  margin-top: 20px;
}